
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Project 3 Start*/
.pimg1 {
    background-image: url("./img/field1.jpg");
}
.pimg2 {
    background-image: url("./img/field2.jpeg");
}
.pimg3 {
    background-image: url("./img/field3.jpeg");
}
.pimg1,.pimg2,.pimg3 {

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    background-position: center;
    background-attachment: fixed;
}
.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
.textBg {
    background-color: rgb(49, 40, 40);
    color: white;
    font-size: 29px;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.content-section1 h2,.content-section2 h2{
text-align: center;
font-size: 39px;
font-weight: 500;
}
.content-section1 p,.content-section2 p{
margin-top: 0px;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 0px;
text-align: justify;
font-family: cursive;
font-size: medium;
font-weight: 500;
padding-bottom: 10px;
}
.content-section1 {
background-color: #ddd;
}
.content-section2 {
background-color: black;
}
.content-section2 h2{
color: whitesmoke;
}
.content-section2 p{
color: white;
}
/* project 3 End */



/* Project For Start */
.developer-img-section {
background-image: url("./img//developer.jpg");
background-repeat: no-repeat;
background-size: cover;
position: relative;
background-position: center;
height: 100vh;
}
.text1 {
position: absolute;
top: 30%;
width: 100%;   
text-align: center;
}
.text1-inner {
    font-size: large;
    font-weight: 500;
}
.black_box {
    background-color: rgb(43, 41, 41);
    min-height: 200px;
    text-align: center;
}

.black_box h1 ,.black_box h2{
   color: white; 
   margin-top: 5%;
}
.card-section {
    display: flex;
    justify-content: space-around;
    background-color: #ddd;
    padding: 20px;
    transition: all 2s;
}
.card-section .card1,.card-section .card2,.card-section .card3 {
box-shadow: 0px 0px 4px 0px;
}
.card1:hover,.card2:hover,.card3:hover{
    transform: scale(1.02);
}
.bottom-section {
    flex-basis: 100%;
    width: 100%;
    display: flex;
   gap: 5%;
   background-color: #ddd;
   justify-content: center;
   padding-bottom: 3%;

}
.bottom-section p {
    font-weight: 400;
    font-family: sans-serif;
    margin: 0px 5%;
}
.bottom-section h2 {
text-align: center;
margin: 2%;
}
.about {
width: 45%;
text-align: center;

}
.contact {
width: 45%;
text-align: center;

}
.footer {
    background-color: #ddd;
}
.footer-section {
    padding: 2% 0px;
    font-size: larger;
    text-align: center;
    font-weight: 500;
    font-family: monospace;
    background-color: #898888;
    color: white;
}
@media (max-width: 600px) {
    .card-section {
        flex-direction: column; /* Switch to column layout */
    }
    .card1,.card2,.card3 {
        margin-top: 5%;
        
    }
}
/* Project For End */

/* Music website project start here */
#music-header {
    background-color: black;
    width: 100%;
    height: 70px;
}

.music-nav {
    display: flex;
    justify-content: space-around;
}

.music-nav ul {
    display: flex;
    gap: 12%;
    flex-basis: 30%;
    list-style: none;
}
.music-nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.music-nav ul li:hover{
    border-bottom: 2px solid white;
}
.music-nav ul li {
    margin-top: auto;
}
.logo {
    font-size: 25px;
    color: white;
    font-weight: 700;
    padding: 15px;
}
.hamburger-menu {
    display: none;
    color: white;
}

.music-nav ul li {
    margin-top: auto;
}
@media (max-width: 600px) {
    .hamburger-menu {
        display: inline-block;
        margin-top: 10px;
        color: white;
    }

    .music-nav ul {
        opacity: 0;
        max-height: 0;
        margin-top: 0%;
        flex-basis: 100%;
        background-color: black;
        overflow: hidden;
        transition: opacity 0.5s ease, max-height 0.5s ease;
    }

    .music-nav ul.active {
        opacity: 1;
        min-height: 180px;
        margin-top: 20px;
        display: block;
        margin-top: 50px;
    }

    .music-nav ul.active li {
        display: block;
    }

}
@media (min-width: 600px) and (max-width: 900px) {
.links {
    flex-basis: 100%;
}
}
/* Music Project End Here */